<form class="login-container" [formGroup]="rForm" (ngSubmit)="logUser(rForm.value)">
  <img src="http://startups.wolox.com.ar/assets/img/wolox_logo.png" alt="wolox logo" height="100px" />
  <div class="input-container">
    <span class="input-label">
      First name
    </span>
    <input class="input" type="text" formControlName="first_name"/>
  </div>
  <div class="input-container">
    <span class="input-label">
      Last name
    </span>
    <input class="input" type="text" formControlName="last_name"/>
  </div>
  <div class="input-container">
    <span class="input-label">
      Email
    </span>
    <input class="input" type="text" formControlName="email"/>
  </div>
  <div class="input-container">
    <span class="input-label">
      Password
    </span>
    <input class="input" type="password" formControlName="password"/>
  </div>
  <button class="sign-up-button" [disabled]="!rForm.valid">
    Sign up
  </button>
  <div class="line-division"></div>
  <button class="login-button" type="button">
    Login
  </button>
</form>
